<div class="btn-group" role="group">
    @Html.ActionLink("Kalender",        "Overview", new { controller = "Calendar" },    new { @class = "btn btn-default btn-lg" })
    @Html.ActionLink("Kinderen",        "Overview", new { controller = "Children" },    new { @class = "btn btn-default btn-lg" })
    @Html.ActionLink("Dagboek",         "Overview", new { controller = "Diary" },       new { @class = "btn btn-default btn-lg" })
    @Html.ActionLink("Facturen",        "Overview", new { controller = "Invoice" },     new { @class = "btn btn-default btn-lg" })
    @Html.ActionLink("Instellingen",    "Overview", new { controller = "Settings" },    new { @class = "btn btn-default btn-lg" })
</div>
