@model IEnumerable<De_Tutjes.Areas.Diary.Models.ChildCard>
@{
    ViewBag.Title = "DiaryIndex";
}

@Html.BeginForm("ChildStatus", "Diary", FormMethod.Post){ 

<!-- ************************* ACTIVE WORKER BUTTON ****************************** -->
<div class="main-header">
    <div class="main-header-worker">
        <a href="#" class="btn btn-default btn-lg" role="button">
            <img src="~/Images/baby-boy.png" class="img-responsive" alt="">
        </a>
    </div>

    <!-- ************************* EXIT BUTTON ****************************** -->
    <div class="main-header-exit">
        <a href="#" class="btn btn-warning btn-lg verylargebtn" role="button">
            <span class="glyphicon glyphicon-off"></span>
        </a>
    </div>

    <!-- ************************* CHILD STATUS BUTTONS ****************************** -->
    <div class="main-header-buttons">
        <button name="submitButton" value="ChildCheckIn" id="ChildCheckInButton"class="btn btn-default btn-lg text-center" type="submit">
            <span class="glyphicon glyphicon-log-in"></span>
        </button>
        <button name="submitButton" value="ChildSleeping" id="ChildSleepingButton" class="btn btn-default btn-lg text-center" type="submit">
            <span class="glyphicon glyphicon-cloud" style="color:blue;"></span>
        </button>
        <button name="submitButton" value="ChildEating" id="ChildEatingButton"class="btn btn-default btn-lg text-center" type="submit">
            <span class="glyphicon glyphicon-cutlery" style="color:grey;"></span>
        </button>
        <button name="submitButton" value="ChildDiaper" id="ChildDiaperButton"class="btn btn-default btn-lg text-center" type="submit">
            <span class="" style="color:grey; font-size:1em;">Luier</span>
        </button>
        <button name="submitButton" value="ChildComment" id="ChildCommentButton"class="btn btn-default btn-lg text-center" type="submit">
            <span class="glyphicon glyphicon-comment" style="color:grey;"></span>
        </button>
        <button name="submitButton" value="ChildOverview" id="ChildOverviewButton"class="btn btn-default btn-lg text-center" type="submit">
            <span class="glyphicon glyphicon-th-list" style="color:grey;"></span>
        </button>
        <button name="submitButton" value="ChildCheckOut" id="ChildCheckOutButton"class="btn btn-default btn-lg text-center" type="submit">
            <span class="glyphicon glyphicon-log-out"></span>
        </button>
    </div>
</div>

    <!-- ************************* MAIN BODY ****************************** -->
<div class="main-body">
    <!-- ************************* MAIN SIDEBAR ****************************** -->
    <div id="mainsidebar">
        <!-- ************************* SIDEBAR INFOBOX ****************************** -->

    </div>

    <!-- ************************* MAIN CONTENT ****************************** -->
    <div class="main-content">
        <!-- ************************* CHILDREN CARDS ****************************** -->
        @if(Model != null){
        
        foreach (var childcard in Model)
        {
            switch (childcard.Status)
            {
                case De_Tutjes.Areas.Diary.Models.ChildStatus.Normal:
                    {
                        <div class="checkbox">
                            <input type="checkbox" class="childcard" value="@childcard.Id" id="@childcard.Id" name="@childcard.Id" />
                            <label for="@childcard.Id" class="img-rounded">
                                @{
                                    if (childcard.Photo == "" || childcard.Photo == null)
                                    {<span class="glyphicon glyphicon-user" style="font-size:6em; margin:0; padding:0;"></span><br /> }
                                    else
                                    {<img src="@Url.Content("~/Images/Photos/" + childcard.Photo)" class="img-rounded img-responsive" alt="" /> }
                                }
                                <span>@childcard.Name</span>
                            </label>
                        </div>
                        break;
                    }
               case De_Tutjes.Areas.Diary.Models.ChildStatus.Home:
                            {
                        <div class="checkbox">
                            <input type="checkbox" class="childcard" value="@childcard.Id"  id="@childcard.Id" name="@childcard.Id" />
                            <label for="@childcard.Id" class="img-rounded has-status" style="margin-top: -10px; height:150px;">
                                <span class="status-child glyphicon glyphicon-home" style="margin-left:30px"></span>
                                @{
                                    if (childcard.Photo == "" || childcard.Photo == null)
                                    {<span class="glyphicon glyphicon-user" style="font-size:6em; margin:0; padding:0;"></span><br /> }
                                    else
                                    {<img src="@Url.Content("~/Images/Photos/" + childcard.Photo)" class="img-rounded img-responsive" alt="" /> }
                                }
                                <span>@childcard.Name</span>
                            </label>
                        </div>
                        break;
                    }

                case De_Tutjes.Areas.Diary.Models.ChildStatus.Sleeping:
                    {
                        <div class="checkbox">
                            <input type="checkbox" class="childcard" value="@childcard.Id"  id="@childcard.Id" name="@childcard.Id" />
                            <label for="@childcard.Id" class="img-rounded has-status" style="margin-top: -10px; height:150px;">
                                <span class="status-child glyphicon glyphicon-cloud" style="margin-left:30px"></span>
                                @{
                                    if (childcard.Photo == "" || childcard.Photo == null)
                                    {<span class="glyphicon glyphicon-user" style="font-size:6em; margin:0; padding:0;"></span><br /> }
                                    else
                                    {<img src="@Url.Content("~/Images/Photos/" + childcard.Photo)" class="img-rounded img-responsive" alt="" /> }
                                } 
                                <span>@childcard.Name</span>
                            </label>
                        </div>
                        break;
                    }

                default:
                    {
                        <div class="checkbox">
                            <input type="checkbox" id="childid"  name="@childcard.Id" />
                            <label for="childid" class="img-rounded">
                                <span class="glyphicon glyphicon-user" style="font-size:6em; margin:0; padding:0;"></span><br>
                                <span>default</span>
                            </label>
                        </div>
                        break;
                    }

            }

        }
        }


        <div class="checkbox">
            <input type="checkbox" id="addchild">
            <label for="addchild">
                <!-- ************************* add a child that isn't cheduled today ****************************** -->
                <span class="glyphicon glyphicon-user" style="font-size:4em; margin:0; padding:0;"></span><br>
                <span style="font-size:1em;">Kind<br />Toevoegen</span>
            </label>
        </div>
        
    </div> 
</div>

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".childcard").click(function (evt) {
            $('#mainsidebar').html('<img src="@Url.Content("~/Images/giphy.gif")" alt="" />');
            var id = this.id;
            $("#mainsidebar").load("/Diary/Diary/shortinfo", { toddlerid: id });
            //alert("hey " + id);
        });
    });
</script>

<script language="javascript" type="text/javascript">
        function ToggleVisibility(idend) {
            if (document.getElementById(idend).style.visibility == "hidden") {
                document.getElementById(idend).style.visibility = "visible";
                document.getElementById(idend).style.height = null;
            }
            else {
                document.getElementById(idend).style.visibility = "hidden";
                document.getElementById(idend).style.height = 0;
            }
            return false;
        }
</script>