@model IEnumerable<De_Tutjes.Areas.Diary.Models.Child>
@{
    ViewBag.Title = "DiaryIndex";
}

@Html.BeginForm("ChildStatus", "Diary", FormMethod.Post){ 

<!-- ************************* ACTIVE WORKER BUTTON ****************************** -->
<div class="main-header">
    <div class="main-header-worker">
        <a href="#" class="btn btn-default btn-lg" role="button">
            <img src="C:\Users\Kristof\Dropbox\Eindwerk\6 HTML previews\images\person.jpg" class="img-responsive" alt="">
        </a>
    </div>

    <!-- ************************* EXIT BUTTON ****************************** -->
    <div class="main-header-exit">
        <a href="#" class="btn btn-warning btn-lg verylargebtn" role="button">
            <span class="glyphicon glyphicon-off"></span>
        </a>
    </div>

    <!-- ************************* CHILD STATUS BUTTONS ****************************** -->
    <div class="main-header-buttons">
        <button name="submitButton" value="ChildCheckIn" id="ChildCheckInButton"class="btn btn-default btn-lg text-center" type="submit">
            <span class="glyphicon glyphicon-log-in"></span>
        </button>
        <button name="submitButton" value="ChildSleeping" id="ChildSleepingButton" class="btn btn-default btn-lg text-center" type="submit">
            <span class="glyphicon glyphicon-cloud" style="color:blue;"></span>
        </button>
        <button name="submitButton" value="ChildEating" id="ChildEatingButton"class="btn btn-default btn-lg text-center" type="submit">
            <span class="glyphicon glyphicon-cutlery" style="color:grey;"></span>
        </button>
        <button name="submitButton" value="ChildDiaper" id="ChildDiaperButton"class="btn btn-default btn-lg text-center" type="submit">
            <span class="" style="color:grey; font-size:1em;">Luier</span>
        </button>
        <button name="submitButton" value="ChildComment" id="ChildCommentButton"class="btn btn-default btn-lg text-center" type="submit">
            <span class="glyphicon glyphicon-comment" style="color:grey;"></span>
        </button>
        <button name="submitButton" value="ChildOverview" id="ChildOverviewButton"class="btn btn-default btn-lg text-center" type="submit">
            <span class="glyphicon glyphicon-th-list" style="color:grey;"></span>
        </button>
        <button name="submitButton" value="ChildCheckOut" id="ChildCheckOutButton"class="btn btn-default btn-lg text-center" type="submit">
            <span class="glyphicon glyphicon-log-out"></span>
        </button>
    </div>
</div>

    <!-- ************************* MAIN BODY ****************************** -->
<div class="main-body">
    <!-- ************************* MAIN SIDEBAR ****************************** -->
    <div class="main-sidebar">
        <!-- ************************* SIDEBAR INFOBOX ****************************** -->
        <div class="infobox">
            <div class="infobox-childtag img-rounded">
                <div class="infobox-childphoto">
                    <img src="http://kingofwallpapers.com/child/child-012.jpg" class="img-responsive img-rounded" alt="">
                </div>
                <div class="infobox-childname text-center">
                    Stefanie<br> 2jaar 3mnd
                </div>
                <div class="infobox-childbuttongroup text-center">
                    <a href="#" class="btn btn-success text-center" role="button">
                        Meer info
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </a>
                    <a href="#" class="btn btn-info text-center" role="button">
                        Agenda
                        <span class="glyphicon glyphicon-calendar"></span>
                    </a>
                </div>
            </div>
            <!-- ************************* SIDEBAR INFOBOX MORE INFO ACCORDION ****************************** -->             
            <div class="infobox-moreinfo">
                <div class="infobox-panel-button">
                    <a href="#" class="btn btn-default text-center" role="button"onclick="ToggleVisibility('InfoboxExtraPanelParentsInfo')">
                        Ouders gegevens
                        <span class="glyphicon glyphicon-triangle-bottom" style="float:right;"></span>
                    </a>
                </div>
                <div class="infobox-moreinfopanel" id="InfoboxExtraPanelParentsInfo" style="height:0;">
                    heeeeey
                </div>
                <div class="infobox-panel-button">
                    <a href="#" class="btn btn-default text-center" role="button" onclick="ToggleVisibility('InfoboxExtraPanelMedicalInfo')">
                        Medische gegevens
                        <span class="glyphicon glyphicon-triangle-bottom" style="float:right;"></span>
                    </a>
                </div>
                <div class="infobox-moreinfopanel" id="InfoboxExtraPanelMedicalInfo" style="height:0;">
                    heeeeey<br>heeeeey<br>heeeeey<br>heeeeey<br>heeeeey<br>heeeeey<br>
                </div>
                <div class="infobox-panel-button">
                    <a href="#" class="btn btn-default text-center" role="button"onclick="ToggleVisibility('InfoboxExtraPanelNutritionInfo')">
                        Voeding
                        <span class="glyphicon glyphicon-triangle-bottom" style="float:right;"></span>
                    </a>
                </div>
                <div class="infobox-moreinfopanel" id="InfoboxExtraPanelNutritionInfo" style="height:0;">
                    heeeeey
                </div>
                <div class="infobox-panel-button">
                    <a href="#" class="btn btn-default text-center" role="button"onclick="ToggleVisibility('InfoboxExtraPanelSleepInfo')">
                        Slapen
                        <span class="glyphicon glyphicon-triangle-bottom" style="float:right;"></span>
                    </a>
                </div>
                <div class="infobox-moreinfopanel" id="InfoboxExtraPanelSleepInfo" style="height:0;">
                    heeeeey
                </div>
                <div class="infobox-panel-button">
                    <a href="#" class="btn btn-default text-center" role="button"onclick="ToggleVisibility('InfoboxExtraPanelRemarksInfo')">
                        Opmerkingen
                        <span class="glyphicon glyphicon-triangle-bottom" style="float:right;"></span>
                    </a>
                </div>
                <div class="infobox-moreinfopanel" id="InfoboxExtraPanelRemarksInfo" style="height:0;">
                    heeeeey<br>heeeeey<br>heeeeey<br>heeeeey<br>heeeeey<br>heeeeey<br>
                </div>
            </div>
            <!-- ************************* SIDEBAR INFOBOX ALLERGIES ****************************** -->
            <div class="infobox-allergies">
                <div class="infobox-allergie-item">
                    <a href="#" class="btn btn-info text-center" role="button">
                        <img src="Allergie/allergens-eggs.png" alt="">
                    </a>
                </div>
                <div class="infobox-allergie-item">
                    <a href="#" class="btn btn-info text-center" role="button">
                        <img src="Allergie/allergens-milk.png" alt="">
                    </a>
                </div>
                <div class="infobox-allergie-item">
                    <a href="#" class="btn btn-danger text-center" role="button">
                        <img src="Allergie/peanuts-allergens.png" alt="">
                    </a>
                </div>
                <div class="infobox-allergie-item">
                    <a href="#" class="btn btn-info text-center" role="button">
                        <img src="Allergie/sea-food.png" alt="">
                    </a>
                </div>
                <div class="infobox-allergie-item">
                    <a href="#" class="btn btn-info text-center" role="button">
                        <img src="Allergie/wheat.png" alt="">
                    </a>
                </div>
                <div class="infobox-allergie-item">
                    <a href="#" class="btn btn-info text-center" role="button">
                        <img src="" alt="">
                    </a>
                </div>
                <div class="infobox-allergie-item">
                    <a href="#" class="btn btn-info text-center" role="button">
                        <img src="" alt="">
                    </a>
                </div>
                <div class="infobox-allergie-item">
                    <a href="#" class="btn btn-info text-center" role="button">
                        ?
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- ************************* MAIN CONTENT ****************************** -->
    <div class="main-content">
        <!-- ************************* CHILDREN CARDS ****************************** -->
        @if(Model != null){
        
        foreach (var child in Model)
        {
            switch (child.Status)
            {
                case De_Tutjes.Areas.Diary.Models.ChildStatus.Normal:
                    {
                        <div class="checkbox">
                            <input type="checkbox" id="@child.Id" name="@child.Id" />
                            <label for="@child.Id" class="img-rounded">
                                @{
                                    if (child.Photo == "")
                                    {<span class="glyphicon glyphicon-user" style="font-size:6em; margin:0; padding:0;"></span><br /> }
                                    else
                                    {<img src="@Url.Content("~/Images/Photos/" + child.Photo)" class="img-rounded img-responsive" alt="" /> }
                                }
                                <span>@child.Name</span>
                            </label>
                        </div>
                        break;
                    }
               case De_Tutjes.Areas.Diary.Models.ChildStatus.Home:
                            {
                        <div class="checkbox">
                            <input type="checkbox" id="@child.Id" name="@child.Id" />
                            <label for="@child.Id" class="img-rounded has-status" style="margin-top: -10px; height:150px;">
                                <span class="status-child glyphicon glyphicon-home" style="margin-left:30px"></span>
                                @{
                                    if (child.Photo == "")
                                    {<span class="glyphicon glyphicon-user" style="font-size:6em; margin:0; padding:0;"></span><br /> }
                                    else
                                    {<img src="@Url.Content("~/Images/Photos/" + child.Photo)" class="img-rounded img-responsive" alt="" /> }
                                }
                                <span>@child.Name</span>
                            </label>
                        </div>
                        break;
                    }

                case De_Tutjes.Areas.Diary.Models.ChildStatus.Sleeping:
                    {
                        <div class="checkbox">
                            <input type="checkbox" id="@child.Id" name="@child.Id" />
                            <label for="@child.Id" class="img-rounded has-status" style="margin-top: -10px; height:150px;">
                                <span class="status-child glyphicon glyphicon-cloud" style="margin-left:30px"></span>
                                @{
                                    if (child.Photo == "")
                                    {<span class="glyphicon glyphicon-user" style="font-size:6em; margin:0; padding:0;"></span><br /> }
                                    else
                                    {<img src="@Url.Content("~/Images/Photos/" + child.Photo)" class="img-rounded img-responsive" alt="" /> }
                                }
                                <span>@child.Name</span>
                            </label>
                        </div>
                        break;
                    }

                default:
                    {
                        <div class="checkbox">
                            <input type="checkbox" id="childid"  name="@child.Id" />
                            <label for="childid" class="img-rounded">
                                <span class="glyphicon glyphicon-user" style="font-size:6em; margin:0; padding:0;"></span><br>
                                <span>default</span>
                            </label>
                        </div>
                        break;
                    }

            }

        }
        }


        <div class="checkbox">
            <input type="checkbox" id="addchild">
            <label for="addchild">
                <!-- ************************* add a child that isn't cheduled today ****************************** -->
                <span class="glyphicon glyphicon-user" style="font-size:4em; margin:0; padding:0;"></span><br>
                <span style="font-size:1em;">Kind<br />Toevoegen</span>
            </label>
        </div>

    </div>
</div>

}


<script language="javascript" type="text/javascript">
        function ToggleVisibility(idend) {
            if (document.getElementById(idend).style.visibility == "hidden") {
                document.getElementById(idend).style.visibility = "visible";
                document.getElementById(idend).style.height = null;
            }
            else {
                document.getElementById(idend).style.visibility = "hidden";
                document.getElementById(idend).style.height = 0;
            }
            return false;

        }
    
        //$(function() {
        //    $('#ChildCheckin').click(function () {
        //        $(this).closest('form').trigger('submit');         }
        //});


        
        
</script>