@model De_Tutjes.Areas.Diary.Models.Child

@{
    ViewBag.Title = "DiaryToddlerInfo";
}
@{ 
    var child = Model;

}
<div class="infobox">
    
    <!-- ************************* SIDEBAR INFOBOX MORE INFO ACCORDION ****************************** -->
    <div class="infobox-moreinfo">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            <span class="glyphicon glyphicon-list-alt"></span> Gegevens van @child.Toddler.Person.FirstName
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">

                            <div class="infobox-childphoto">
                                <img src="@Url.Content("~/Images/Photos/" + child.Toddler.Person.Photo)" class="img-responsive img-rounded" alt="">
                            </div>
                            <div class="infobox-childname text-center" id="Infobox_ChildShortInfo">
                                @child.Toddler.Person.FirstName
                                <br>
                                @(child.Toddler.Person.BirthDate == null ? "" : child.Toddler.Person.BirthDate.ToString("dd MMMM yyyy"))
                            </div>

                        <span id="Acc_Gegevens_Naam_Title"><b><u>Details:</u></b></span><br />
                        <!-- inhoud -->
                        <span id = "Acc_Gegevens_Naam_Title" ><b>Naam:</b></span>
                        <span id = "Acc_Gegevens_Naam_Content" >
                            @child.Toddler.Person.FirstName 
                            @child.Toddler.Person.LastName
                        </span>
                        <br />
                        @if (@child.Toddler.Person.Address != null)
                        {
                        <span id="Acc_Gegevens_Adres_Title"><b>Adres:</b></span><br />
                        <span id="Acc_Gegevens_Adres_Content">
                            @child.Toddler.Person.Address.Street 
                            @child.Toddler.Person.Address.Number
                        </span> 
                            if (@child.Toddler.Person.Address.Bus != null) {
                                <span> bus @child.Toddler.Person.Address.Bus</span> 
                            } <br />
                        <span>    
                            @(child.Toddler.Person.Address.PostalCode == null ? "" : child.Toddler.Person.Address.PostalCode.ToString()) 
                            @child.Toddler.Person.Address.City
                        </span><br />
                        }
                        <span id="Acc_Gegevens_TelThuis_Title"><span class="glyphicon glyphicon-earphone"></span><b>Thuis: </b></span>
                        <span id="Acc_Gegevens_TelThuis_Content">"homephone" werkt niet</span>
                        
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            <span class="glyphicon glyphicon-user"></span> Ouders
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        @if (child.Parents != null)
                        {
                            foreach (var p in child.Parents)
                            {
                                if (p.Person.Gender != null && p.Person.Gender == "male")
                                {
                                    <span id="Acc_Ouders_NaamP_Title"><b>Papa:</b></span>
                                    <span id="Acc_Ouders_NaamP_Content">
                                        @p.Person.FirstName 
                                        @p.Person.LastName
                                    </span><br />
                                    <span id="Acc_Ouders_BereikenP_Title"><span class="glyphicon glyphicon-earphone"></span> (Werk)</span>
                                    <span id="Acc_Ouders_BereikenP_Content">
                                        @(p.Person.ContactDetail?.WorkPhone == null ? "" : p.Person.ContactDetail.WorkPhone.ToString())
                                    </span><br />
                                }
                                else if (p.Person.Gender != null && p.Person.Gender == "female")
                                {
                                    <span id="Acc_Ouders_NaamM_Title"><b>Mama:</b></span>
                                    <span id="Acc_Ouders_NaamP_Content">
                                        @p.Person.FirstName
                                        @p.Person.LastName
                                    </span><br />
                                    <span id="Acc_Ouders_BereikenP_Title"><span class="glyphicon glyphicon-earphone"></span> (Werk)</span>
                                    <span id="Acc_Ouders_BereikenP_Content">
                                        @(p.Person.ContactDetail?.WorkPhone == null ? "" : p.Person.ContactDetail.WorkPhone.ToString())
                                    </span><br />
                                }
                                else
                                {
                                    <span id="Acc_Ouders_NaamO_Title"><b>Ouder:</b></span><br />
                                    <span id="Acc_Ouders_NaamP_Content">
                                        @p.Person.FirstName
                                        @p.Person.LastName
                                    </span><br />
                                    <span id="Acc_Ouders_BereikenP_Title"><span class="glyphicon glyphicon-earphone"></span> (Werk)</span>
                                    <span id="Acc_Ouders_BereikenP_Content">
                                        @(p.Person.ContactDetail?.WorkPhone == null ? "" : p.Person.ContactDetail?.WorkPhone.ToString())
                                    </span><br />
                                }
                            }
                        }
                        
                        <span id="Acc_Ouders_Ziekte_Title"><b>Contacteren bij ziekte:</b></span><br />
                        <span id="Acc_Ouders_Ziekte_Content">Toe te voegen</span>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            <span class="glyphicon glyphicon-plus"></span> Medische gegevens
                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <span id="Acc_Medisch_NaamH_Title"><b>Huisarts:</b></span>
                        <span id="Acc_Medisch_NaamH_Content">
                            @(child.Toddler.Medical?.Doctor?.Person?.FirstName == null ? "" : child.Toddler.Medical.Doctor.Person.FirstName) 
                            @(child.Toddler.Medical?.Doctor?.Person?.LastName == null ? "" : child.Toddler.Medical.Doctor.Person.LastName)
                        </span><br />
                        @if (child.Toddler.Medical?.Doctor?.Person?.Address != null)
                        {
                            @child.Toddler.Medical.Doctor.Person.Address.Street 
                            @child.Toddler.Medical.Doctor.Person.Address.Number
                            
                            if (@child.Toddler.Medical.Doctor.Person.Address.Bus != null) {
                                <span> bus @child.Toddler.Medical.Doctor.Person.Address.Bus </span> 
                            } <br />
                                <span>
                                    @child.Toddler.Medical.Doctor.Person.Address.PostalCode 
                                    @child.Toddler.Medical.Doctor.Person.Address.City
                                </span><br />
                            } 
                            
                        <span id="Acc_Medisch_Medicatie_Title"><b>Medicatie:</b></span><br />
                        <span id="Acc_Medisch_Medicatie_Content">
                            @(child.Toddler.Medical?.MedicationName == null ? "" : child.Toddler.Medical.MedicationName)
                        </span>
                        <br />
                        <span id="Acc_Medisch_Allergien_Title"><b>Allergiën:</b></span><br />
                        <span id="Acc_Medisch_Allergien_Content">
                            @(child.Toddler.Medical?.Allergies == null ? "" : child.Toddler.Medical.Allergies)
                        </span>
                        <br />
                        <span id="Acc_Medisch_SpecialeZorgen_Title"><b>Speciale zorgen:</b></span><br />
                        <span id="Acc_Medisch_SpecialeZorgen_Content">
                            @(child.Toddler.Medical?.SpecialNotice == null ? "" : child.Toddler.Medical.SpecialNotice)
                        </span>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                            <span class="glyphicon glyphicon-cutlery"></span> Voeding
                        </a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <span id="Acc_Voeding_SpecDieet_Title"><b>Speciaal dieet:</b></span><br />
                        <span id="Acc_Voeding_SpecDieet_Content">
                            @(child.Toddler.Food?.SpecialDiet == null ? "" : child.Toddler.Food.SpecialDiet)
                        </span>
                        <br />
                        <span id="Acc_Voeding_NietToedienen_Title"><b>Niet toedienen:</b></span><br />
                        <span id="Acc_Voeding_NietToedienen_Content">
                            @(child.Toddler.Food?.MayNotEat == null ? "" : child.Toddler.Food.MayNotEat)
                        </span>
                        <br />
                        <span id="Acc_Voeding_FlesPoeder_Title"><b>Flesvoeding - Poeder:</b></span><br />
                        <span id="Acc_Voeding_FlesPoeder_Content">
                            @(child.Toddler.Food?.BottlePowder == null ? "" : child.Toddler.Food.BottlePowder)
                        </span>
                        <br />
                        <span id="Acc_Voeding_FlesPerDag_Title"><b>Flesjes per dag:</b></span><br />
                        <span id="Acc_Voeding_FlesPerDag_Content">
                            @(child.Toddler.Food?.BottleDay == null ? "" : child.Toddler.Food.BottleDay.ToString())
                        </span>
                        <br />
                        <span id="Acc_Voeding_Speciaal_Title"><b>Speciale weten:</b></span><br />
                        <span id="Acc_Voeding_Speciaal_Content">
                            @(child.Toddler.Food?.SpecialNotice == null ? "" : child.Toddler.Food.SpecialNotice)
                        </span>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                            <span class="glyphicon glyphicon-bed"></span> Slapen
                        </a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <span id="Acc_Slapen_Slaaphouding_Title"><b>Slaaphouding:</b></span><br />
                        <span id="Acc_Slapen_Slaaphouding_Content">
                            @(child.Toddler.Sleep?.SleepingPosition == null ? "" : child.Toddler.Sleep.SleepingPosition)
                        </span><br />
                        <span id="Acc_Slapen_Speciaal_Title"><b>Speciale weten:</b></span><br />
                        <span id="Acc_Slapen_Speciaal_Content">
                            @(child.Toddler.Sleep?.SpecialNotice == null ? "" : child.Toddler.Sleep.SpecialNotice)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ************************* SIDEBAR INFOBOX ALLERGIES ****************************** -->
    <div class="infobox-allergies" style="visibility:hidden">
        <div class="infobox-allergie-item">
            <a href="#" class="btn btn-info text-center" role="button">
                <img src="Allergie/allergens-eggs.png" alt="">
            </a>
        </div>
        <div class="infobox-allergie-item">
            <a href="#" class="btn btn-info text-center" role="button">
                <img src="Allergie/allergens-milk.png" alt="">
            </a>
        </div>
        <div class="infobox-allergie-item">
            <a href="#" class="btn btn-danger text-center" role="button">
                <img src="Allergie/peanuts-allergens.png" alt="">
            </a>
        </div>
        <div class="infobox-allergie-item">
            <a href="#" class="btn btn-info text-center" role="button">
                <img src="Allergie/sea-food.png" alt="">
            </a>
        </div>
        <div class="infobox-allergie-item">
            <a href="#" class="btn btn-info text-center" role="button">
                <img src="Allergie/wheat.png" alt="">
            </a>
        </div>
        <div class="infobox-allergie-item">
            <a href="#" class="btn btn-info text-center" role="button">
                <img src="" alt="">
            </a>
        </div>
        <div class="infobox-allergie-item">
            <a href="#" class="btn btn-info text-center" role="button">
                <img src="" alt="">
            </a>
        </div>
        <div class="infobox-allergie-item">
            <a href="#" class="btn btn-info text-center" role="button">
                ?
            </a>
        </div>
    </div>
</div>
