@model IEnumerable<De_Tutjes.Models.Invoice>
@{
    ViewBag.Title = "ShowUpdates";
    Layout = "~/Areas/Diary/Views/Shared/_Layout.cshtml";
}

<!-- ************************* ACTIVE WORKER BUTTON ****************************** -->
<div class="main-header">
    <div class="main-header-worker">
        <a href="#" class="btn btn-default btn-lg" role="button">
            <img src="~/Images/detutjes-logo-mini.png" class="img-responsive" alt="" style="height:100px; ">
        </a>
    </div>

    <!-- ************************* EXIT BUTTON ****************************** -->
    <div class="main-header-exit">
        <a href="#" class="btn btn-warning btn-lg verylargebtn" role="button">
            <span class="glyphicon glyphicon-off"></span>
        </a>
    </div>

    <!-- ************************* CHILD STATUS BUTTONS ****************************** -->
    <div class="main-header-buttons">
        <button name="submitButton" value="ChildCheckIn" id="ChildCheckInButton" class="btn btn-default btn-lg text-center" type="submit">
            @Html.ActionLink("Terug", "Index", "Diary")
        </button>
    </div>
</div>

<!-- ************************* MAIN BODY ****************************** -->
<div class="main-body">
    <!-- ************************* MAIN SIDEBAR ****************************** -->
    <div id="mainsidebar">
        <!-- ************************* SIDEBAR INFOBOX ****************************** -->
        <div style="margin:30px 30px 0 0;">
            @if (Model != null)
            {
                <table style="width:240px;">
                    @foreach (var child in Model)
                    {
                    <tr style="height:50px; border-top: 1px solid grey; border-bottom:1px solid lightgrey;">
                    <td style="width:160px;"><span class="childname" data-toggle="@child.Toddler.ToddlerId" >@child.Toddler.Person.FirstName @child.Toddler.Person.LastName</span></td>
                    <td style="padding-right:5px;"><button type="button" onclick="SendMail(@child.Toddler.ToddlerId)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-envelope"></span> Verzenden</button></td>
                    </tr>

                    }
                </table>
                <span>Tik op de naam van een kind om het overzicht te openen.</span>
            }
        </div>
    </div>

    <!-- ************************* MAIN CONTENT ****************************** -->
    <div class="main-content">
        <!-- ************************* CHILDREN INFO ****************************** -->
        <!-- 
            CheckIn = 1,
            Sleeping = 2,
            WakeUp = 3,
            Eating = 4,
            Diaper = 5,
            CheckOut = 6,
            Comment = 7
            -->
        @if (Model != null)
        {
            foreach (var child in Model)
            {
                <div class="updateview-childinfo-child" id="@child.Toddler.ToddlerId" style="margin-left:50px;">
                    <table style="font-size:16px;">
                        <tr><th>@child.Toddler.Person.FirstName :</th><th></th></tr>
                        @foreach (var update in child.Updates)
                        {
                            <tr style="border-bottom:1px solid grey;"><td valign="top">@update.Timestamp.Hour:@update.Timestamp.Minute</td><td>
                            @switch (update.UpdateType)
                            {
                                case 1:
                                    <span class="glyphicon glyphicon-log-in" style="display: inline-block; width:20px;"></span> <span>Is aangekomen bij De Tutjes</span><br />;                                                                                                                                        ;

                                    break;
                                case 2:
                                    <span class="glyphicon glyphicon-cloud" style="display: inline-block; width:20px;"></span> <span>Gaat slapen</span><br />;                                                                                                                                       ;

                                    break;
                                case 3:
                                    <span class="glyphicon glyphicon-cloud" style="display: inline-block; width:20px;"></span> <span>Is wakker geworder</span><br />;                                                                                                                                         ;

                                    break;
                                case 4:
                                    <span class="glyphicon glyphicon-cutlery" style="display: inline-block; width:20px;"></span> <span>Is aan het eten.</span><br />;                                                                                                                                         ;

                                    break;
                                case 5:
                                    <span class="" style="display: inline-block; width:20px;"><b>P</b></span> <span>Heeft een nieuwe pamper gekregen</span><br />;                                                                                                                                         ;

                                    break;
                                case 6:
                                    <span class="glyphicon glyphicon-log-out" style="display: inline-block; width:20px;"></span> <span>Is naar huis</span><br />;

                                    break;
                                case 7:
                                    
                                    
                                    break;
                                default:
                                    break;
                            }
                            @if (update.Comment != null && update.Comment != "")
                            {
                                <span class="glyphicon glyphicon-comment" style="display: inline-block; width:20px;"></span><span><i>" @update.Comment "</i></span>;
                            }

                            </td></tr>
                        }


                    </table>
                </div>
            }
                            }

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<script>
    function ToggleVisibility(idend) {
        alert("hey " + idend);
        }


</script>
<script>
    $(document).ready(function () {
        $(".updateview-childinfo-child").toggle();
        $(".childname").click(function (evt){
            idToToggle = $(this).data('toggle');
            $('.updateview-childinfo-child').hide();
             $('#' + idToToggle).toggle();
        });
    });

    function SendMail(id) {
        alert('sending mail')
        $.ajax({
            url: '@Url.Action("SendUpdateMail", "Diary")',
            data: { id: id }
        }).done(function () {
            alert('Mail has been send');
            $(this).html('Verzonden')
            $(this).removeClass('btn-primary');
            $(this).addClass('btn-success');

        });
    }

</script>
