@model De_Tutjes.Areas.Administration.Models.CreateMedicalInformation

@using (Ajax.BeginForm("CreateMedicalInformation", null, new AjaxOptions { UpdateTargetId = "medicalList", OnSuccess = "submitMedicalInformationForm()" }, new { id = "AddMedicalInformationForm" }))
{

    @Html.AntiForgeryToken();

    <div class="modal fade" id="addMedicalInformationModal" tabindex="-1" role="dialog" aria-labelledby="addMedicalInformationLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMedicalInformationLabel">
                        Medische informatie
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </h5>
                </div>

                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    
                    <fieldset>
                        <legend>Huisarts <input class="" type="checkbox" name="HasDoctor" id="HasDoctor" value="1" /></legend>
                    </fieldset>
                    <fieldset id="DoctorForm">
                            <div class="form-group">
                                @Html.LabelFor(model => model.medical.Doctor.Person.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.medical.Doctor.Person.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.medical.Doctor.Person.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.medical.Doctor.Person.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.medical.Doctor.Person.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.medical.Doctor.Person.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.medical.Doctor.Person.Address.City, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.medical.Doctor.Person.Address.City, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.medical.Doctor.Person.Address.City, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.medical.Doctor.Person.Address.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.medical.Doctor.Person.Address.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.medical.Doctor.Person.Address.PostalCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.medical.Doctor.Person.Address.Street, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.medical.Doctor.Person.Address.Street, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.medical.Doctor.Person.Address.Street, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.medical.Doctor.Person.Address.Number, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.medical.Doctor.Person.Address.Number, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.medical.Doctor.Person.Address.Number, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.medical.Doctor.Person.Address.Bus, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.medical.Doctor.Person.Address.Bus, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.medical.Doctor.Person.Address.Bus, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.medical.Doctor.Person.ContactDetail.CellPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.medical.Doctor.Person.ContactDetail.CellPhone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.medical.Doctor.Person.ContactDetail.CellPhone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Medicatie <input class="" type="checkbox" name="HasMedication" id="HasMedication" value="1" /></legend>
                    </fieldset>
                        <div class="row" id="MedicationForm">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.medical.MedicationName, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.TextAreaFor(model => model.medical.MedicationName, new { @class = "form-control", @rows = "4" })
                                @Html.ValidationMessageFor(model => model.medical.MedicationName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    <fieldset>
                        <legend>Allergieën <input class="" type="checkbox" name="HasAllergies" id="HasAllergies" value="1" /></legend>
                    </fieldset>
                        <div class="row" id="AllergiesForm">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.medical.Allergies, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.TextAreaFor(model => model.medical.Allergies, new { @class = "form-control", @rows = "4" })
                                @Html.ValidationMessageFor(model => model.medical.Allergies, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    <fieldset>
                        <legend>Kinderziektes <input class="" type="checkbox" name="HadChildDiseases" id="HadChildDiseases" value="1" /></legend>
                    </fieldset>
                        <div class="row" id="ChildDiseasesForm">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.medical.ChildDisease, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.TextAreaFor(model => model.medical.ChildDisease, new { @class = "form-control", @rows = "4" })
                                @Html.ValidationMessageFor(model => model.medical.ChildDisease, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    <fieldset>
                        <legend>Extra</legend>
                    </fieldset>
                    <div class="row">
                        
                        <div class="col-sm-12">
                            @Html.LabelFor(model => model.medical.HealthServiceNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.medical.HealthServiceNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.medical.HealthServiceNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.LabelFor(model => model.medical.SpecialNotice, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.TextAreaFor(model => model.medical.SpecialNotice, new { @class = "form-control", @rows = "4" })
                            @Html.ValidationMessageFor(model => model.medical.SpecialNotice, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                    <button type="submit" class="btn btn-primary" id="saveMedical">Opslaan</button>
                </div>
            </div>
        </div>
    </div>

}

<div class="tab-pane" id="step4">
    <div id="medicalList">
        @Html.Partial("_ListMedicalInfo", Model.medical)
    </div>
    <div id="ButtonsTogglerStep4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-info btn-block btn-sm" role="button" href="#step3" data-toggle="tab" name="step3">Vorige</a>
                    </div>

                    <div class="col-md-4">
                    </div>

                    <div class="col-md-3">
                        <a class="btn btn-success btn-block btn-sm" role="button" href="#step5" data-toggle="tab" name="step5">Volgende</a>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>