@model De_Tutjes.Areas.Administration.Models.CreateFoodAndSleepInformation

@using (Ajax.BeginForm("CreateFoodInformation", null, new AjaxOptions { UpdateTargetId = "foodList", OnSuccess = "submitFoodInformationForm()" }, new { id = "AddFoodInformationForm" }))
{

    @Html.AntiForgeryToken();

    <div class="modal fade" id="addFoodInformationModal" tabindex="-1" role="dialog" aria-labelledby="addFoodInformationLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addFoodInformationLabel">
                        Voeding
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </h5>
                </div>

                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <fieldset>
                        <div class="form-group">
                            @Html.LabelFor(model => model.food.SpecialDiet, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.food.SpecialDiet, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.food.SpecialDiet, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.food.Allergies, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.food.Allergies, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.food.Allergies, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.food.MayNotEat, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.food.MayNotEat, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.food.MayNotEat, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.food.BottlePowder, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.food.BottlePowder, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.food.BottlePowder, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.food.BottleDay, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.food.BottleDay, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.food.BottleDay, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.food.SpecialNotice, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.food.SpecialNotice, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.food.SpecialNotice, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                    <button type="submit" class="btn btn-primary" id="saveFood">Opslaan</button>
                </div>
            </div>
        </div>
    </div>
}

@using (Ajax.BeginForm("CreateSleepInformation", null, new AjaxOptions { UpdateTargetId = "sleepList", OnSuccess = "submitSleepInformationForm()" }, new { id = "AddSleepInformationForm" }))
{

    @Html.AntiForgeryToken();

    <div class="modal fade" id="addSleepInformationModal" tabindex="-1" role="dialog" aria-labelledby="addSleepInformationLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSleepInformationLabel">
                        Slapen
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </h5>
                </div>

                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.sleep.SleepingPosition, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.sleep.SleepingPosition, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.sleep.SleepingPosition, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.sleep.Toy, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.sleep.Toy, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.sleep.Toy, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.sleep.Soother, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.sleep.Soother, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.sleep.Soother, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.sleep.SpecialNotice, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.sleep.SpecialNotice, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.sleep.SpecialNotice, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                    <button type="submit" class="btn btn-primary" id="saveSleep">Opslaan</button>
                </div>
            </div>
        </div>
    </div>
            }

<div class="tab-pane" id="step5">
    <div id="foodList">
        @Html.Partial("_ListFoodInfo", Model.food)
    </div>
    <div id="sleepList">
        @Html.Partial("_ListSleepInfo", Model.sleep)
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <a class="btn btn-info btn-block btn-sm" role="button" href="#step4" data-toggle="tab" name="step4">Vorige</a>
                </div>

                <div class="col-md-4">
                </div>

                <div class="col-md-3">
                    <a class="btn btn-success btn-block btn-sm" role="button" href="#step6" data-toggle="tab" name="step6">Volgende</a>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>
</div>
