@model De_Tutjes.Areas.Administration.Models.CreateAgreedDaysAndPickup

@using (Ajax.BeginForm("CreateAgreedDays", null, new AjaxOptions { UpdateTargetId = "agreedDaysList", OnSuccess = "submitAgreedDaysForm()" }, new { id = "AddAgreedDaysForm" }))
{

    @Html.AntiForgeryToken();



    <div class="modal fade" id="addAgreedDaysModal" tabindex="-1" role="dialog" aria-labelledby="addAgreedDaysLabel" aria-hidden="true">
        @{
            int toddlerId = 0;
            if (HttpContext.Current.Session["NewChildWizardSession"] != null)
            {
                toddlerId = int.Parse(HttpContext.Current.Session["NewChildWizardSession"].ToString());
            }
        }
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAgreedDaysLabel">
                        AgreedDay @HttpContext.Current.Session["NewChildWizardSession"] toevoegen
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </h5>
                </div>

                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                                <div class="col-sm-6" id="startdate">
                                    @Html.LabelFor(model => model.agreedDays.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <input type="text" class="form-control" name="agreedDays.StartDate" id="agreedDays_StartDate" value="">
                                    @Html.ValidationMessageFor(model => model.agreedDays.StartDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-6" id="enddate">
                                    @Html.LabelFor(model => model.agreedDays.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <input type="text" class="form-control" name="agreedDays.EndDate" id="agreedDays_EndDate" value="">
                                    @Html.ValidationMessageFor(model => model.agreedDays.EndDate, "", new { @class = "text-danger" })
                                </div>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-sm-4">
                                <span class="button-checkbox">
                                    <button type="button" class="btn btn-sm btn-block" data-color="primary" id="Monday">
                                        @Html.DisplayNameFor(model => model.agreedDays.Monday)
                                    </button>
                                    <span class="label label-info" id="checkMonday"></span>
                                    @Html.CheckBoxFor(model => model.agreedDays.Monday, new { @class = "hidden", @value = "true" })
                                </span>
                                <span class="button-checkbox">
                                    <button type="button" class="btn btn-sm btn-block" data-color="primary" id="Tuesday">
                                        @Html.DisplayNameFor(model => model.agreedDays.Tuesday)
                                    </button>
                                    <span class="label label-info" id="checkTuesday"></span>
                                    @Html.CheckBoxFor(model => model.agreedDays.Tuesday, new { @class = "hidden", @value = "true" })
                                </span>
                                <span class="button-checkbox">
                                    <button type="button" class="btn btn-sm btn-block" data-color="primary" id="Wednesday">
                                        @Html.DisplayNameFor(model => model.agreedDays.Wednesday)
                                    </button>
                                    <span class="label label-info" id="checkWednesday"></span>
                                    @Html.CheckBoxFor(model => model.agreedDays.Wednesday, new { @class = "hidden", @value = "true" })
                                </span>
                                <span class="button-checkbox">
                                    <button type="button" class="btn btn-sm btn-block" data-color="primary" id="Thursday">
                                        @Html.DisplayNameFor(model => model.agreedDays.Thursday)
                                    </button>
                                    <span class="label label-info" id="checkThursday"></span>
                                    @Html.CheckBoxFor(model => model.agreedDays.Thursday, new { @class = "hidden", @value = "true" })
                                </span>
                                <span class="button-checkbox">
                                    <button type="button" class="btn btn-sm btn-block" data-color="primary" id="Friday">
                                        @Html.DisplayNameFor(model => model.agreedDays.Friday)
                                    </button>
                                    <span class="label label-info" id="checkFriday"></span>
                                    @Html.CheckBoxFor(model => model.agreedDays.Friday, new { @class = "hidden", @value = "true" })
                                </span>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.agreedDays.SpecialNotice, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.TextAreaFor(model => model.agreedDays.SpecialNotice, new { @class = "form-control", @rows = "4" })
                                @Html.ValidationMessageFor(model => model.agreedDays.SpecialNotice, "", new { @class = "text-danger" })
                            </div>                        
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="saveAgreedDays">Save</button>
                </div>
            </div>
        </div>
    </div>
            }

@using (Ajax.BeginForm("CreatePickup", null, new AjaxOptions { UpdateTargetId = "pickupsList", OnSuccess = "submitPickupForm()" }, new { id = "AddPickupForm" }))
{

    @Html.AntiForgeryToken();



    <div class="modal fade" id="addPickupModal" tabindex="-1" role="dialog" aria-labelledby="addPickupLabel" aria-hidden="true">
        @{
            int toddlerId = 0;
            if (HttpContext.Current.Session["NewChildWizardSession"] != null)
            {
                toddlerId = int.Parse(HttpContext.Current.Session["NewChildWizardSession"].ToString());
            }
        }
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPickupLabel">
                        AgreedDay @HttpContext.Current.Session["NewChildWizardSession"] toevoegen
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>

                </div>
                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <fieldset>
                        <legend>pickup for child @toddlerId</legend>
                        <div class="form-group">
                            @Html.LabelFor(model => model.pickup.Person.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.pickup.Person.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.pickup.Person.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.pickup.Person.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.pickup.Person.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.pickup.Person.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.pickup.Relation, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.pickup.Relation, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.pickup.Relation, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Address</legend>
                        <div class="form-group">
                            @Html.LabelFor(model => model.pickup.Person.Address.City, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.pickup.Person.Address.City, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.pickup.Person.Address.City, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.pickup.Person.Address.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.pickup.Person.Address.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.pickup.Person.Address.PostalCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Contact</legend>
                        <div class="form-group">
                            @Html.LabelFor(model => model.pickup.Person.ContactDetail.CellPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.pickup.Person.ContactDetail.CellPhone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.pickup.Person.ContactDetail.CellPhone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="savePickup">Save</button>
                </div>
            </div>
        </div>
    </div>
            }


<div class="tab-pane" id="c">
    <div id="agreedDaysList">
        @Html.Partial("_ListAgreedDays", Model.agreedDaysList)
    </div>
    <div id="pickupsList">
        @Html.Partial("_ListPickups", Model.pickups)
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                @{ 
                    string disabledNext;
                    if (Model.agreedDaysList.Count() > 0)
                    {
                        disabledNext = "";
                    }
                    else
                    {
                        disabledNext = "disabled";
                    }
                }
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <a class="btn btn-info btn-block btn-sm" role="button" href="#b" data-toggle="tab" name="step2">Vorige</a>
                </div>

                <div class="col-md-4">
                </div>

                <div class="col-md-3">
                    <a class="btn btn-success btn-block btn-sm" role="button" href="#d" data-toggle="tab" name="step4" @disabledNext>Volgende</a>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>
</div>