@model IEnumerable<De_Tutjes.Models.Parent>
@{
    int models = 0;
    if (Model != null)
    {
        models = Model.Count();
    }
    string completed = "fa-square-o";
    if (models == 1) { completed = "fa-plus-square-o"; }
    else if (models == 2) { completed = "fa-check-square-o";  }

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa @completed"></i> Ouders</h3>
            </div>
            <div class="panel-body">
                @{
                    foreach (var parent in Model)
                    {
                        <div class="row">
                            <div class="col-md-2">
                                <blockquote class="blockquote">
                                    @{
                                        if (parent.Person.Gender == "male")
                                        {
                                            <img class="d-flex" src="~/Images/male.png" alt="male" height="64" width="64">
                                        }
                                        else
                                        {
                                            <img class="d-flex" src="~/Images/female.png" alt="female" height="64" width="64">
                                            }
                                        }
                                </blockquote>
                            </div>
                            <div class="col-md-10">
                                <h5 class="mt-0">@Html.DisplayFor(model => parent.Person.FirstName)</h5>
                                <div class="form-group row">
                                    @Html.LabelFor(model => parent.Person.BirthDate, htmlAttributes: new { @class = "col-md-2" })
                                    <div class="col-sm-10">
                                        @Html.DisplayFor(model => parent.Person.BirthDate)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => parent.Person.Gender, htmlAttributes: new { @class = "col-md-2" })
                                    <div class="col-sm-10">
                                        @Html.DisplayFor(model => parent.Person.Gender)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="row">
                    @{
                        string disabledNext = "disabled";
                        string disabledCreate = "";
                        if (models > 0)
                        {
                            disabledNext = "";
                        }
                        if (models == 2)
                        {
                            disabledCreate = "disabled";
                        }
                    }
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-info btn-block btn-sm" role="button" href="#a" data-toggle="tab" name="step1">Vorige</a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-primary btn-block btn-sm" role="button" href="#" data-toggle="modal" data-target="#addParentModal" id="openParentForm" @disabledCreate><i class="fa fa-user-plus"></i> Ouder toevoegen</a>
                    </div>

                    <div class="col-md-3">
                        <a class="btn btn-success btn-block btn-sm" role="button" href="#c" data-toggle="tab" name="step3" @disabledNext>Volgende</a>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
        }
