@model IEnumerable<De_Tutjes.Models.Parent>
@{
    int models = Model.Count();
    string completed = "fa-square-o";
    if (models == 1) { completed = "fa-plus-square-o"; }
    else if (models == 2) { completed = "fa-check-square-o";  }
    int toddlerId = 0;
    if (!string.IsNullOrEmpty(HttpContext.Current.Session["ToddlerId"] as string))
    {
        toddlerId = int.Parse(HttpContext.Current.Session["ToddlerId"].ToString());
    }

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa @completed"></i> Ouders</h3>
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-12">

                        <div class="panel-group" id="accordion">
                            @{
                                //if (toddlerId == 0)
                                //{
                                    int i = 1;
                                    foreach (var parent in Model)
                                    {
                                        string collapsed = "in";
                                        if (models == 2)
                                        {
                                            if (i == 1)
                                            {
                                                collapsed = "";
                                            }
                                        }
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#@Html.DisplayFor(model => parent.ParentId)">@Html.DisplayFor(model => parent.Person.FirstName)</a></h4>
                                    </div>
                                    <div id="@Html.DisplayFor(model => parent.ParentId)" class="panel-collapse collapse @collapsed">
                                        <div class="panel-body">
                                            <fieldset>
                                                <legend>Personal</legend>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label">Firstname</label>
                                                    <div class="col-sm-10">
                                                        @Html.DisplayFor(model => parent.Person.FirstName)
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label">Lastname</label>
                                                    <div class="col-sm-10">
                                                        @Html.DisplayFor(model => parent.Person.LastName)
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                            i++;
                                        //}
                                    }
                                }
                        </div>

                    </div>

                </div>
                <div class="row">
                    @{
                        string disabledNext;
                        string disabledCreate;
                        if (Model.Count() > 0)
                        {
                            disabledNext = "";
                        }
                        else
                        {
                            disabledNext = "disabled";
                        }
                        if (Model.Count() == 2)
                        {
                            disabledCreate = "disabled";
                        }
                        else
                        {
                            disabledCreate = "";
                        }
                    }
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-info btn-block btn-sm" role="button" href="#a" data-toggle="tab" id="step1">Vorige</a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-primary btn-block btn-sm" role="button" href="#" data-toggle="modal" data-target="#addParentModal" id="openParentForm" @disabledCreate><i class="fa fa-user-plus"></i> Ouder toevoegen</a>
                    </div>

                    <div class="col-md-3">
                        <a class="btn btn-success btn-block btn-sm" role="button" href="#c" data-toggle="tab" id="step3" @disabledNext>Volgende</a>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
        }
