@model De_Tutjes.Models.Toddler

@if ((Model != null) && (Model.Person != null))
{
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
            <h4 class="panel-title">
                @Model.Person.FirstName
            </h4>
        </div>
        <input type="hidden" id="toddlerPhoto" value="@Model.Person.Photo"/>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <p>
                @if (Model.Person.BirthDate > DateTime.Now)
                {
                    @Html.Raw("Wordt verwacht op: ") @Model.Person.BirthDate.ToString("dd/MM/yyyy") <br/>
                } else
                {
                    @Html.Raw("Geboren op: ") @Model.Person.BirthDate.ToString("dd/MM/yyyy") <br/>
                }
                Geslacht: @Model.Person.Gender
                </p>
                @if (Enumerable.Count(ViewBag.Parents) > 1)
                {
                    <h6>Ouders</h6>
                } else
                {
                    <h6>Ouder</h6>
                }
                <p>
                @foreach (var parent in ViewBag.Parents)
                {
                    @parent.Person.FirstName @Html.Raw(" ") @parent.Person.LastName <br/>
                }
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                Eten
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                @if (Model.Food == null)
                {
                    <p>@Model.Person.FirstName heeft nog geen eetgegevens.</p>
                } else
                {
                    if (Model.Food.SpecialDiet != null)
                    {
                        <h6>Speciaal diëet</h6>
                        <p>@Model.Food.SpecialDiet</p>
                    }
                    if (Model.Food.Allergies != null)
                    {
                        <h6>Allergieën</h6>
                        <p>@Model.Food.Allergies</p>
                    }
                    if (Model.Food.MayNotEat != null)
                    {
                        <h6>Mag niet eten</h6>
                        <p>@Model.Food.MayNotEat</p>
                    }
                    if (Model.Food.BottlePowder != null)
                    {
                        <h6>Flesvoeding</h6>
                        <p>@Model.Food.BottlePowder (@Model.Food.BottleDay / dag)</p>
                    }
                    if (Model.Food.SpecialNotice != null)
                    {
                        <h6>Speciale opmerking</h6>
                        <p>@Model.Food.SpecialNotice</p>
                    }
                }
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                Slaap
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                @{
                    if (Model.Sleep.SleepingPosition != null)
                    {
                        <h6>Slaaphouding</h6>
                        <p>@Model.Sleep.SleepingPosition</p>
                    }
                    if (Model.Sleep.Toy != null)
                    {
                        <h6>Knuffel</h6>
                        <p>@Model.Sleep.Toy</p>
                    }
                    if (Model.Sleep.Soother != null)
                    {
                        <h6>Tutje</h6>
                        <p>@Model.Sleep.Soother</p>
                    }
                    if (Model.Sleep.SpecialNotice != null)
                    {
                        <h6>Speciale opmerking</h6>
                        <p>@Model.Sleep.SpecialNotice</p>
                    }
                }
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
                Medisch
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
                @{ 
                    if (Model.Medical.HealthServiceNumber != null)
                    {
                        <h6>Rijksregisternummer</h6>
                        <p>@Model.Medical.HealthServiceNumber</p>
                    }
                    if (Model.Medical.MedicationName != null)
                    {
                        <h6>Medicatie</h6>
                        <p>@Model.Medical.MedicationName</p>
                    }
                    if (Model.Medical.Allergies != null)
                    {
                        <h6>Allergieën</h6>
                        <p>@Model.Medical.Allergies</p>
                        <p>
                            Medicatie tegen allergie:<br />
                            @if (Model.Medical.AllergiesMedication != null)
                            {
                                @Model.Medical.AllergiesMedication

                            }
                            else
                            {
                                Html.Raw("geen");
                            }
                        </p>
                    }
                    if (Model.Medical.ChildDisease != null)
                    {
                        <h6>Kinderziektes</h6>
                        <p>@Model.Medical.ChildDisease</p>
                        if (Model.Medical.DiseaseWhen != null)
                        {
                            <p>Gehad op: @Model.Medical.DiseaseWhen</p>
                        }
                    }
                    if (Model.Medical.DoctorId != null)
                    {
                        <h6>Huisarts</h6>
                        <p>
                            @Model.Medical.Doctor.Person.FirstName @Model.Medical.Doctor.Person.LastName<br />
                            @Model.Medical.Doctor.Person.Address.Street, @Model.Medical.Doctor.Person.Address.Number<br />
                            @Model.Medical.Doctor.Person.Address.PostalCode @Model.Medical.Doctor.Person.Address.City<br />
                            Tel: @Model.Medical.Doctor.Person.ContactDetail.CellPhone
                        </p>
                    }
                    if (Model.Medical.SpecialNotice != null)
                    {
                        <h6>Speciale opmerking</h6>
                        <p>@Model.Medical.SpecialNotice</p>
                    }
                }
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
                Opvangdagen
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
                @{ 
                    foreach (var agreedDay in Model.AgreedDays)
                    {
                        <h6>@agreedDay.StartDate.ToString("dd/MM/yyyy") t.e.m. @agreedDay.EndDate.ToString("dd/MM/yyyy")</h6>
                        <p>
                            @{ 
                                var monday = (agreedDay.Monday == true) ? "ma " : "";
                                var tuesday = (agreedDay.Tuesday == true) ? "di " : "";
                                var wednesday = (agreedDay.Wednesday == true) ? "woe " : "";
                                var thursday = (agreedDay.Thursday == true) ? "do " : "";
                                var friday = (agreedDay.Friday == true) ? "vr" : "";
                            }
                            @monday @tuesday @wednesday @thursday @friday
                        </p>
                            if (agreedDay.SpecialNotice != null)
                            {
                                <p>@agreedDay.SpecialNotice</p>
                            }
                        }
                }
            </div>
        </div>
    </div>
</div>
} else {

}