
@{
    ViewBag.Title = "Create";
    int? Step = ViewBag.FormStep;
}

<script type="text/javascript">
        $(document).ready(function(){
            $('#LivingTogether').change(function () {
                if (this.checked)
                    $('#LivingTogetherDiv').fadeIn('slow');
                else
                    $('#LivingTogetherDiv').fadeOut('slow');

            });
        });
</script>

<div class="row">
    <div class="col-lg-3 col-md-3">
        <img class="center-block" src="http://placehold.it/185x185" />
        <a class="btn btn-link btn-xs center-block" role="button" href="#">KLik hier om een foto toe te voegen</a>
    </div>
    <div class="col-lg-9 col-md-9">

        @Html.Partial("_MenuPartial")

        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <h3 class="text-center">Nieuw kindje inschrijven</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span class="sr-only">0%</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3">
        <div role="group" class="btn-group-vertical btn-group-lg center-block">
            <button class="btn btn-default @((Step == 1) || (Step == 0) ? "active" : "") " type="button"><span class="fa fa-square-o fa-1x pull-left"></span> Stap 1<br><h6>Kind en ouders</h6></button>
            <button class="btn btn-default @(Step == 2 ? "active" : "") " type="button"><span class="fa fa-square-o fa-1x pull-left"></span> Stap 2<br><h6>Opvangdagen</h6></button>
            <button class="btn btn-default @(Step == 3 ? "active" : "") " type="button"><span class="fa fa-square-o fa-1x pull-left"></span> Stap 3<br><h6>Medische gegevens</h6></button>
            <button class="btn btn-default @(Step == 4 ? "active" : "") " type="button"><span class="fa fa-square-o fa-1x pull-left"></span> Stap 4<br><h6>Voeding en slapen</h6></button>
            <button class="btn btn-default @(Step == 5 ? "active" : "") " type="button"><span class="fa fa-square-o fa-1x pull-left"></span> Stap 5<br><h6>Opmerkingen dagverloop</h6></button>
        </div>
    </div>
    <div class="col-lg-9 col-md-12">
        @{
            switch (Step) {
                default:
                case 1:
                    @Html.Partial("_CreatePartial/_Step1");
                    break;
                case 2:
                    @Html.Partial("_CreatePartial/_Step2");
                    break;
                case 3:
                    @Html.Partial("_CreatePartial/_Step3");
                    break;
                case 4:
                    @Html.Partial("_CreatePartial/_Step4");
                    break;
                case 5:
                    @Html.Partial("_CreatePartial/_Step5");
                    break;
            }
        }
    </div>
</div>