@{
    ViewBag.Title = "registreren";
}

<div class="row">
    <div class="col-lg-3 col-md-3">
        <img class="center-block" src="http://placehold.it/185x185" alt="pic"/>
        <a class="btn btn-link btn-xs center-block" role="button" href="#">Klik hier om een foto toe te voegen</a>
    </div>
    <div class="col-lg-9 col-md-9">

        @Html.Partial("_MenuPartial")

        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <h3 class="text-center">Nieuw kindje inschrijven</h3>
                <button onclick="$('#addToddlerModal').modal('toggle');">Toddler</button>
                <button onclick="$('#addParentModal').modal('toggle');">Parents</button>
                <button onclick="$('#addAgreedDaysModal').modal('toggle');">AgreedDays</button>
                <button onclick="$('#addPickupModal').modal('toggle');">Pickup</button>
                <button onclick="$('#addMedicalInformationModal').modal('toggle');">Medical</button>
                <button onclick="$('#addFoodInformationModal').modal('toggle');">Food</button>
                <button onclick="$('#addSleepInformationModal').modal('toggle');">Sleep</button>
                <button onclick="$('#addDailyRoutineModal').modal('toggle');">Daily</button>
                <button onclick="$('#addImportantNoticeModal').modal('toggle');">Special</button>
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span class="sr-only">0%</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
        <div class="tabbable tabs-left">
            <ul class="nav nav-pills nav-stacked col-md-3" id="steps">
                <li class="active">
                    <a href="#step1" disabled>
                        <span class="fa fa-square-o fa-1x pull-right"></span>Stap 1<br /><h6>Kind</h6>
                    </a>
                </li>
                <li>
                    <a href="#step2" disabled>
                        <span class="fa fa-square-o fa-1x pull-right"></span>Stap 2<br /><h6>Ouders</h6>
                    </a>
                </li>
                <li>
                    <a href="#step3" disabled>
                        <span class="fa fa-square-o fa-1x pull-right"></span>Stap 3<br /><h6>Opvangdagen</h6>
                    </a>
                </li>
                <li>
                    <a href="#step4" disabled>
                        <span class="fa fa-square-o fa-1x pull-right"></span>Stap 4<br /><h6>Medische gegevens</h6>
                    </a>
                </li>
                <li>
                    <a href="#step5" disabled>
                        <span class="fa fa-square-o fa-1x pull-right"></span>Stap 5<br /><h6>Voeding en slapen</h6>
                    </a>
                </li>
                <li>
                    <a href="#step6" disabled>
                        <span class="fa fa-square-o fa-1x pull-right"></span>Stap 6<br /><h6>Opmerkingen dagverloop</h6>
                    </a>
                </li>
            </ul>
            <div class="tab-content col-md-9" id="contentRefresh">
                @{
                    if (ViewBag.NotFinished != null)
                    {
                        <div class="alert alert-danger">
                            <strong>Opgelet!</strong> Een vorig kindje dat je aanmaakte op <strong>@ViewBag.SessionStarted</strong> is niet afgerond.
                            <br />Vervolledig de wizard om dit formulier te beëindigen.
                            <br />(Ga naar de laatste stap en druk op Opslaan. Indien dit formulier foutief is aangemaakt, druk op Annuleren.)
                        </div>
                    }
                }

                @Html.Action("_AddToddler", "Children")
                @Html.Action("_AddParents", "Children")
                @Html.Action("_AddAgreedDaysAndPickups", "Children")
                @Html.Action("_AddMedicalInformation", "Children")
                @Html.Action("_AddFoodAndSleep", "Children")
                @Html.Action("_AddDailyRoutine", "Children")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
                <div class="modal fade" id="finishWizardModal" tabindex="-1" role="dialog" aria-labelledby="finishWizardLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="finishWizardLabel">
                                    Opslaan
                                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </h5>
                            </div>

                            <div class="modal-body">
                                <p>
                                    De wizard om een nieuw kindje in te schrijven is afgerond. Na het opslaan wordt het kindje geactiveerd en verschijnt in het overzicht.<br/>
                                    Er zal automatisch een e-mail worden verzonden naar de ouders met hun respectievelijk wachtwoord om later gebruik te maken van de interface.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Afsluiten</button>
                                <button type="submit" class="btn btn-success" id="finishWizard">Opslaan</button>
                            </div>
                        </div>
                    </div>
                </div>
}
            </div>
    </div>
</div>