<script type="text/javascript">

    var isLivingTogether = true;
    var isBoy = true;

    function toggleLivingTogether() {
        if (isLivingTogether) {
            isLivingTogether = false;
        } else {
            isLivingTogether = true;
        }
    }

    function syncTelephoneNumber(input) {
        if (isLivingTogether) {
            var telFirstParent = document.getElementById('firstParentPhoneHome');
            var telSecondParent = document.getElementById('secondParentPhoneHome');
            if (input.getAttribute('id') == 'firstParentPhoneHome') {
                telSecondParent.value = telFirstParent.value;
            } else {
                telFirstParent.value = telSecondParent.value;
            }
        }
    }

    function syncThisField(field) {
        if (isLivingTogether) {
            var fromThis = field.getAttribute('id');
            var toThis = fromThis.replace("first", "second");

            document.getElementById(toThis).value = document.getElementById(fromThis).value;
        }
    }

    function showMe(input, box) {
        var chboxs = document.getElementsByName(input);
        var vis = "none";
        for (var i = 0; i < chboxs.length; i++) {
            if (!chboxs[i].checked) {
                vis = "block";
                break;
            }
        }
        document.getElementById(box).style.display = vis;
    }

    function fillFirstName(label) {
        var field = label.getAttribute('id');
        var firstParentFirstname = document.getElementById('firstParentFirstname');
        var secondParentFirstname = document.getElementById('secondParentFirstname');
        if (field == 'firstParentFirstname') {
            document.getElementByName(field).innerHTML = firstParentFirstname.value;
        } else {
            document.getElementByName(field).innerHTML = secondParentFirstname.value;
        }
    }

</script>
@model De_Tutjes.Areas.Administration.Models.CreateChildAndParentsModel
@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-lg-3 col-md-3">
        <img class="center-block" src="http://placehold.it/185x185" />
        <a class="btn btn-link btn-xs center-block" role="button" href="#">KLik hier om een foto toe te voegen</a>
    </div>
    <div class="col-lg-9 col-md-9">

        @Html.Partial("_MenuPartial")

        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <h3 class="text-center">Nieuw kindje inschrijven</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span class="sr-only">0%</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="tabbable">
                <ul class="nav nav-pills nav-stacked col-md-3">
                    <li class="active">
                        <a href="#a" data-toggle="tab">
                            <span class="fa fa-square-o fa-1x pull-right"></span>Stap 1
                            <br />
                            <h6>Kind en ouders</h6>
                        </a>
                    </li>
                    <li>
                        <a href="#b" data-toggle="tab">
                            <span class="fa fa-square-o fa-1x pull-right"></span>Stap 2
                            <br />
                            <h6>Opvangdagen</h6>
                        </a>
                    </li>
                    <li>
                        <a href="#c" data-toggle="tab">
                            <span class="fa fa-square-o fa-1x pull-right"></span>Stap 3
                            <br />
                            <h6>Medische gegevens</h6>
                        </a>
                    </li>
                    <li>
                        <a href="#d" data-toggle="tab">
                            <span class="fa fa-square-o fa-1x pull-right"></span>Stap 4
                            <br />
                            <h6>Voeding en slapen</h6>
                        </a>
                    </li>
                    <li>
                        <a href="#e" data-toggle="tab">
                            <span class="fa fa-square-o fa-1x pull-right"></span>Stap 5
                            <br />
                            <h6>Opmerkingen dagverloop</h6>
                        </a>
                    </li>
                </ul>
            <div class="tab-content col-md-9">
                <div class="tab-pane active" id="a">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-square-o"></i> Kind </h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.childFirstname, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.childFirstname, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.childFirstname, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label>Geslacht </label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="btn-group btn-group-xs" data-toggle="buttons">
                                            <label class="btn btn-primary">
                                                @Html.RadioButtonFor(model => model.childSex, "M", false)@Html.Label("jongen")
                                            </label>
                                            <label class="btn btn-primary">
                                                @Html.RadioButtonFor(model => model.childSex, "F", false)@Html.Label("meisje")
                                            </label>
                                            <label class="btn btn-primary">
                                                @Html.RadioButtonFor(model => model.childSex, "N", false)@Html.Label("niet gekend")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.childLastname, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.childLastname, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.childLastname, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.childBirthdate, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.childBirthdate, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.childBirthdate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" id="Parents">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-square-o"></i> Ouders </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div id="MotherFather">
                                    <div class="col-md-6">
                                        <div class="page-header">
                                            <h4 class="text-left" name="firstParentFirstname"></h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="page-header">
                                            <h4 class="text-left" name="secondParentFirstname"></h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.firstParentFirstname, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentFirstname, new { htmlAttributes = new { @class = "form-control input-sm", @onkeyup = "fillFirstName(this)" } })
                                    @Html.ValidationMessageFor(model => model.firstParentFirstname, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentLastname, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentLastname, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.firstParentLastname, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentBirthdate, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentBirthdate, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.firstParentBirthdate, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentSex, htmlAttributes: new { @class = "control-label" })<br />
                                    <div class="btn-group btn-group-xs" data-toggle="buttons">
                                        <label class="btn btn-primary">
                                            @Html.RadioButtonFor(model => model.firstParentSex, "m", false)@Html.Label("man")
                                        </label>
                                        <label class="btn btn-primary">
                                            @Html.RadioButtonFor(model => model.firstParentSex, "f", false)@Html.Label("vrouw")
                                        </label>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.firstParentSex, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                        @Html.LabelFor(model => model.secondParentFirstname, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.secondParentFirstname, new { htmlAttributes = new { @class = "form-control input-sm", @onkeyup = "fillFirstName(this)" } })
                                        @Html.ValidationMessageFor(model => model.secondParentFirstname, "", new { @class = "text-danger" })

                                        @Html.LabelFor(model => model.secondParentLastname, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.secondParentLastname, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.secondParentLastname, "", new { @class = "text-danger" })

                                        @Html.LabelFor(model => model.secondParentBirthdate, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.secondParentBirthdate, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.secondParentBirthdate, "", new { @class = "text-danger" })

                                        @Html.LabelFor(model => model.secondParentSex, htmlAttributes: new { @class = "control-label" })<br />
                                        <div class="btn-group btn-group-xs" data-toggle="buttons">
                                            <label class="btn btn-primary">
                                                @Html.RadioButtonFor(model => model.secondParentSex, "m", false)@Html.Label("man")
                                            </label>
                                            <label class="btn btn-primary">
                                                @Html.RadioButtonFor(model => model.secondParentSex, "f", false)@Html.Label("vrouw")
                                            </label>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.secondParentSex, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-12">
                                        <hr />
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Adresgegevens </h4>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="isLivingTogether" checked name="ctrlLt" onclick="showMe('ctrlLt', 'LivingTogetherDiv'); toggleLivingTogether()" /> Samenwonend
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    @Html.LabelFor(model => model.firstParentStreet, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentStreet, new { htmlAttributes = new { @class = "form-control input-sm", @onkeyup = "syncThisField(this)" } })
                                    @Html.ValidationMessageFor(model => model.firstParentStreet, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentHouseNumber, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentHouseNumber, new { htmlAttributes = new { @class = "form-control input-sm", @onkeyup = "syncThisField(this)" } })
                                    @Html.ValidationMessageFor(model => model.firstParentHouseNumber, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentHouseBus, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentHouseBus, new { htmlAttributes = new { @class = "form-control input-sm", @onkeyup = "syncThisField(this)" } })
                                    @Html.ValidationMessageFor(model => model.firstParentHouseBus, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentPostalCode, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentPostalCode, new { htmlAttributes = new { @class = "form-control input-sm", @onkeyup = "syncThisField(this)" } })
                                    @Html.ValidationMessageFor(model => model.firstParentPostalCode, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentCity, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentCity, new { htmlAttributes = new { @class = "form-control input-sm", @onkeyup = "syncThisField(this)" } })
                                    @Html.ValidationMessageFor(model => model.firstParentCity, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-6" id="LivingTogetherDiv" style="display: none">

                                    @Html.LabelFor(model => model.secondParentStreet, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentStreet, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.secondParentStreet, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.secondParentHouseNumber, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentHouseNumber, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.secondParentHouseNumber, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.secondParentHouseBus, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentHouseBus, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.secondParentHouseBus, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.secondParentPostalCode, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentPostalCode, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.secondParentPostalCode, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.secondParentCity, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentCity, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.secondParentCity, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-12">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Contactgegevens </h4>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    @Html.LabelFor(model => model.firstParentPhoneHome, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentPhoneHome, new { htmlAttributes = new { @class = "form-control input-sm", @onkeyup = "syncTelephoneNumber(this)" } })
                                    @Html.ValidationMessageFor(model => model.firstParentPhoneHome, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentPhoneMobile, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentPhoneMobile, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.firstParentPhoneMobile, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentPhoneWork, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentPhoneWork, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.firstParentPhoneWork, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentEmailAddress, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentEmailAddress, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.firstParentEmailAddress, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-6">

                                    @Html.LabelFor(model => model.secondParentPhoneHome, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentPhoneHome, new { htmlAttributes = new { @class = "form-control input-sm", @onkeyup = "syncTelephoneNumber(this)" } })
                                    @Html.ValidationMessageFor(model => model.secondParentPhoneHome, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.secondParentPhoneMobile, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentPhoneMobile, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.secondParentPhoneMobile, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.secondParentPhoneWork, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentPhoneWork, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.secondParentPhoneWork, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.secondParentEmailAddress, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentEmailAddress, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.secondParentEmailAddress, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-12">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <button class="btn btn-danger btn-lg" type="submit">Volgende stap</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="b">
                    Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    Aliquam in felis sit amet augue.
                </div>
                <div class="tab-pane" id="c">
                    Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae.
                </div>
            </div>
    </div>
}
</div>

