<script type="text/javascript">

    window.onload = function () {
        document.getElementById('childFirstname').value = "Wannes";
        document.getElementById('childLastname').value = "Devos";
        document.getElementById('isLivingTogether').value = true;
        //document.getElementByName('childGender')[2].checked = true;
        document.getElementById('firstParentFirstname').value = "Jana";
        document.getElementById('firstParentLastname').value = "Declercq";
        //document.getElementByName('firstParentGender')[0].checked = true;
        document.getElementById('firstParentBirthdate').value = new Date().toISOString().substring(0, 10),
        document.getElementById('secondParentFirstname').value = "Kris";
        document.getElementById('secondParentLastname').value = "Devos";
        //document.getElementByName('secondParentGender')[1].checked = true;
        document.getElementById('secondParentBirthdate').value = new Date().toISOString().substring(0, 10),
        document.getElementById('firstParentStreet').value = "Beekstraat";
        document.getElementById('firstParentHouseNumber').value = "9";
        document.getElementById('firstParentHouseBus').value = "";
        document.getElementById('firstParentPostalCode').value = "3300";
        document.getElementById('firstParentCity').value = "Tienen";
        document.getElementById('secondParentStreet').value = "Beekstraat";
        document.getElementById('secondParentHouseNumber').value = "9";
        document.getElementById('secondParentHouseBus').value = "";
        document.getElementById('secondParentPostalCode').value = "3300";
        document.getElementById('secondParentCity').value = "Tienen";
        document.getElementById('firstParentPhoneHome').value = "016818554";
        document.getElementById('firstParentPhoneMobile').value = "0473421895";
        document.getElementById('firstParentPhoneWork').value = "0";
        document.getElementById('firstParentEmailAddress').value = "jana.dclrcq@hotmail.com";
        document.getElementById('secondParentPhoneHome').value = "016818554";
        document.getElementById('secondParentPhoneMobile').value = "0478886524";
        document.getElementById('secondParentPhoneWork').value = "0";
        document.getElementById('secondParentEmailAddress').value = "kris.devos@gmail.com";
    };

    var app = angular.module('Administration', [])
    app.controller('Address', ['$scope', function ($scope) {
        $scope.sa = {};
        $scope.ba = {};

        $scope.update = function (sa) {
            $scope.ba = angular.copy($scope.sa);
        };  
    }]);

</script>
@model De_Tutjes.Areas.Administration.Models.CreateNewChildModel
@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-lg-3 col-md-3">
        <img class="center-block" src="http://placehold.it/185x185" />
        <a class="btn btn-link btn-xs center-block" role="button" href="#">Klik hier om een foto toe te voegen</a>
    </div>
    <div class="col-lg-9 col-md-9">

        @Html.Partial("_MenuPartial")

        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <h3 class="text-center">Nieuw kindje inschrijven</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span class="sr-only">0%</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="tabbable tabs-left">
                <ul class="nav nav-pills nav-stacked col-md-3">
                    <li class="active">
                        <a href="#a" data-toggle="tab">
                            <span class="fa fa-square-o fa-1x pull-right"></span>Stap 1<br /><h6>Kind en ouders</h6>
                        </a>
                    </li>
                    <li>
                        <a href="#b" data-toggle="tab">
                            <span class="fa fa-square-o fa-1x pull-right"></span>Stap 2<br /><h6>Opvangdagen</h6>
                        </a>
                    </li>
                    <li>
                        <a href="#c" data-toggle="tab">
                            <span class="fa fa-square-o fa-1x pull-right"></span>Stap 3<br /><h6>Medische gegevens</h6>
                        </a>
                    </li>
                    <li>
                        <a href="#d" data-toggle="tab">
                            <span class="fa fa-square-o fa-1x pull-right"></span>Stap 4<br /><h6>Voeding en slapen</h6>
                        </a>
                    </li>
                    <li>
                        <a href="#e" data-toggle="tab">
                            <span class="fa fa-square-o fa-1x pull-right"></span>Stap 5<br /><h6>Opmerkingen dagverloop</h6>
                        </a>
                    </li>
                </ul>
            <div class="tab-content col-md-9">
                <div class="tab-pane active" id="a">
                    <!--- Child panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-square-o"></i> Kind </h3>
                        </div>

                        <!-- Dynamic form (show on modal complete)-->
                        <div class="panel-body" id="ChildForm">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.childFirstname, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.childFirstname, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.childFirstname, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.childGender, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-6">
                                        <div class="btn-group btn-group-xs" data-toggle="buttons">
                                            <label class="btn btn-primary">
                                                @Html.RadioButtonFor(model => model.childGender, "m", false)@Html.Label("jongen")
                                            </label>
                                            <label class="btn btn-primary">
                                                @Html.RadioButtonFor(model => model.childGender, "f", false)@Html.Label("meisje")
                                            </label>
                                            <label class="btn btn-primary">
                                                @Html.RadioButtonFor(model => model.childGender, "n", new { Checked = "checked" })@Html.Label("niet gekend")
                                            </label>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.childGender, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.childLastname, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.childLastname, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.childLastname, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.childBirthdate, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.childBirthdate, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.childBirthdate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.CheckBoxFor(model => model.hasGotSibling)
                                        @Html.LabelFor(model => model.hasGotSibling, htmlAttributes: new { @class = "control-label" })
                                        @Html.ValidationMessageFor(model => model.hasGotSibling, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal Child Form 
                        <script type="text/javascript">window.onload = function () { document.getElementById('ChildForm').style.display = "none"; }</script>
                        <div class="row" id="ChildFormModalButton">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <br />
                                <button class="btn btn-default btn-block btn-lg" type="button" data-toggle="modal" data-target="#ChildFormModal">
                                    <i class="fa fa-user-plus fa-2x"></i><br />Nieuw tutje inschrijven
                                </button>
                                <br />
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>

                        <div class="modal fade" id="ChildFormModal" tabindex="-1" role="dialog" aria-labelledby="NewChildTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="NewChildTitle">Nieuw tutje</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Voornaam </label>
                                                    <input type="text" class="form-control input-sm" onkeyup="document.getElementById('childFirstname').value = this.value"/>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Geslacht </label>
                                                </div>
                                                <div class="col-md-6"><span><label class="radio-inline"><input type="radio" />meisje</label></span><span><label class="radio-inline"><input type="radio" />jongen</label></span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Achternaam </label>
                                                    <input type="text" class="form-control input-sm" />
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Geboortedatum </label>
                                                    <input type="date" class="form-control input-sm" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="document.getElementById('ChildForm').style.display = 'block'; document.getElementById('ChildFormModalButton').style.display = 'none'; this.close">Opslaan</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal End -->
                    </div>
                    <!-- End Child Panel-->
                    <!-- Parent Panel -->
                    <div class="panel panel-default" id="Parents" ng-controller="Address">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-square-o"></i> Ouders </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="page-header">
                                        <h4 class="text-left" name="firstParentFirstname">{{firstParentFirstname}}</h4>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="page-header">
                                        <h4 class="text-left" name="secondParentFirstname">{{secondParentFirstname}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.firstParentFirstname, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentFirstname, new { htmlAttributes = new { @class = "form-control input-sm", ng_model = "firstParentFirstname" } })
                                    @Html.ValidationMessageFor(model => model.firstParentFirstname, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentLastname, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentLastname, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.firstParentLastname, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentBirthdate, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentBirthdate, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.firstParentBirthdate, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentGender, htmlAttributes: new { @class = "control-label" })<br />
                                    <div class="btn-group btn-group-xs" data-toggle="buttons">
                                        <label class="btn btn-primary">
                                            @Html.RadioButtonFor(model => model.firstParentGender, "m", false)@Html.Label("man")
                                        </label>
                                        <label class="btn btn-primary">
                                            @Html.RadioButtonFor(model => model.firstParentGender, "f", new { Checked = "checked" })@Html.Label("vrouw")
                                        </label>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.firstParentGender, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.secondParentFirstname, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentFirstname, new { htmlAttributes = new { @class = "form-control input-sm", ng_model = "secondParentFirstname" } })
                                    @Html.ValidationMessageFor(model => model.secondParentFirstname, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.secondParentLastname, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentLastname, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.secondParentLastname, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.secondParentBirthdate, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentBirthdate, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.secondParentBirthdate, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.secondParentGender, htmlAttributes: new { @class = "control-label" })<br />
                                    <div class="btn-group btn-group-xs" data-toggle="buttons">
                                        <label class="btn btn-primary">
                                            @Html.RadioButtonFor(model => model.secondParentGender, "m", new { Checked = "checked" })@Html.Label("man")
                                        </label>
                                        <label class="btn btn-primary">
                                            @Html.RadioButtonFor(model => model.secondParentGender, "f", false)@Html.Label("vrouw")
                                        </label>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.secondParentGender, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-12">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Adresgegevens </h4>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="isLivingTogether" name="isLivingTogether" ng-init="sameAddress=true" ng-model="sameAddress" ng-change="sameAddress && update()"/> Samenwonend
                                            @Html.ValidationMessageFor(model => model.isLivingTogether, "", new { @class = "text-danger" })
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    @Html.LabelFor(model => model.firstParentStreet, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentStreet, new { htmlAttributes = new { @class = "form-control input-sm", ng_model = "sa.Street", ng_change = "sameAddress && update()" } })
                                    @Html.ValidationMessageFor(model => model.firstParentStreet, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentHouseNumber, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentHouseNumber, new { htmlAttributes = new { @class = "form-control input-sm", ng_model = "sa.Number", ng_change = "sameAddress && update()" } })
                                    @Html.ValidationMessageFor(model => model.firstParentHouseNumber, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentHouseBus, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentHouseBus, new { htmlAttributes = new { @class = "form-control input-sm", ng_model = "sa.Bus", ng_change = "sameAddress && update()" } })
                                    @Html.ValidationMessageFor(model => model.firstParentHouseBus, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentPostalCode, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentPostalCode, new { htmlAttributes = new { @class = "form-control input-sm", ng_model = "sa.Postal", ng_change = "sameAddress && update()" } })
                                    @Html.ValidationMessageFor(model => model.firstParentPostalCode, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentCity, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentCity, new { htmlAttributes = new { @class = "form-control input-sm", ng_model = "sa.City", ng_change = "sameAddress && update()" } })
                                    @Html.ValidationMessageFor(model => model.firstParentCity, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-6" ng-hide="sameAddress">

                                    @Html.LabelFor(model => model.secondParentStreet, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentStreet, new { htmlAttributes = new { @class = "form-control input-sm", ng_model = "ba.Street", ng_disabled = "sameAddress" } })
                                    @Html.ValidationMessageFor(model => model.secondParentStreet, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.secondParentHouseNumber, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentHouseNumber, new { htmlAttributes = new { @class = "form-control input-sm", ng_model = "ba.Number", ng_disabled = "sameAddress" } })
                                    @Html.ValidationMessageFor(model => model.secondParentHouseNumber, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.secondParentHouseBus, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentHouseBus, new { htmlAttributes = new { @class = "form-control input-sm", ng_model = "ba.Bus", ng_disabled = "sameAddress" } })
                                    @Html.ValidationMessageFor(model => model.secondParentHouseBus, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.secondParentPostalCode, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentPostalCode, new { htmlAttributes = new { @class = "form-control input-sm", ng_model = "ba.Postal", ng_disabled = "sameAddress" } })
                                    @Html.ValidationMessageFor(model => model.secondParentPostalCode, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.secondParentCity, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentCity, new { htmlAttributes = new { @class = "form-control input-sm", ng_model = "ba.City", ng_disabled = "sameAddress" } })
                                    @Html.ValidationMessageFor(model => model.secondParentCity, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-12">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Contactgegevens </h4>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    @Html.LabelFor(model => model.firstParentPhoneHome, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentPhoneHome, new { htmlAttributes = new { @class = "form-control input-sm", ng_model = "sa.Phone", ng_change = "sameAddress && update()" } })
                                    @Html.ValidationMessageFor(model => model.firstParentPhoneHome, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentPhoneMobile, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentPhoneMobile, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.firstParentPhoneMobile, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentPhoneWork, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentPhoneWork, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.firstParentPhoneWork, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.firstParentEmailAddress, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.firstParentEmailAddress, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.firstParentEmailAddress, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-6">

                                    @Html.LabelFor(model => model.secondParentPhoneHome, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentPhoneHome, new { htmlAttributes = new { @class = "form-control input-sm", ng_model = "ba.Phone", ng_disabled = "sameAddress" } })
                                    @Html.ValidationMessageFor(model => model.secondParentPhoneHome, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.secondParentPhoneMobile, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentPhoneMobile, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.secondParentPhoneMobile, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.secondParentPhoneWork, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentPhoneWork, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.secondParentPhoneWork, "", new { @class = "text-danger" })

                                    @Html.LabelFor(model => model.secondParentEmailAddress, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.secondParentEmailAddress, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.secondParentEmailAddress, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-12">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6 tabbable">
                                    <a href="#b" class="btn btn-danger btn-lg" role="button" data-toggle="tab">Volgende stap</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Parent Panel-->
                </div>
                <div class="tab-pane" id="b">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-square-o"></i> Opvang</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-condensed">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label>Startdatum </label>
                                                    </td>
                                                    <td>
                                                        <label>Einddatum </label>
                                                    </td>
                                                </tr>
                                                <tr></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Ophaalpersonen </h3>
                                </div>
                                <div class="panel-body"><span>Panel Body</span></div>
                            </div>
                </div>
                <div class="tab-pane" id="c">
                    Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae.
                </div>
                <div class="tab-pane" id="d">
                    quattro
                </div>
                <div class="tab-pane" id="e">
                    quinto
                </div>
            </div>
    </div>
}
</div>

