<script type="text/javascript">

    var isLivingTogether = true;

    function toggleLivingTogether() {
        if (isLivingTogether) {
            isLivingTogether = false;
        } else {
            isLivingTogether = true;
        }
    }

    function syncTelephoneNumber(input) {
        if (isLivingTogether) {
            var telFirstParent = document.getElementById('firstParentPhoneHome');
            var telSecondParent = document.getElementById('secondParentPhoneHome');
            if (input.getAttribute('id') == 'firstParentPhoneHome') {
                telSecondParent.value = telFirstParent.value;
            } else {
                telFirstParent.value = telSecondParent.value;
            }
        }
    }

    function showMe(input, box) {
        var chboxs = document.getElementsByName(input);
        var vis = "none";
        for (var i = 0; i < chboxs.length; i++) {
            if (!chboxs[i].checked) {
                vis = "block";
                break;
            }
        }
        document.getElementById(box).style.display = vis;
    }

    function hideMe(input, box) {
        var chboxs = document.getElementsByName(input);
        var vis = "block";
        for (var i = 0; i < chboxs.length; i++) {
            if (!chboxs[i].checked) {
                vis = "none";
                break;
            }
        }
        document.getElementById(box).style.display = vis;
    }

    function enlightenMe(box) {
        document.getElementById("ff").className = "btn btn-default";
        document.getElementById("mf").className = "btn btn-default";
        document.getElementById("mm").className = "btn btn-default";
        document.getElementById(box).className = "btn btn-primary";
    }

</script>

@model De_Tutjes.Areas.Administration.Models.CreateChildAndParentsModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-square-o"></i> Kind </h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.childFirstname, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.childFirstname, new { htmlAttributes = new { @class = "form-control input-sm" } })
                        @Html.ValidationMessageFor(model => model.childFirstname, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label>Geslacht </label>
                    </div>
                    <div class="col-md-6">
                        <span>
                            <label class="radio-inline">
                                <input type="radio" name="childSex" value="F" />meisje
                            </label>
                        </span>
                        <span>
                            <label class="radio-inline">
                                <input type="radio" name="childSex" value="M" />jongen
                            </label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.childLastname, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.childLastname, new { htmlAttributes = new { @class = "form-control input-sm" } })
                        @Html.ValidationMessageFor(model => model.childLastname, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.childBirthdate, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.childBirthdate, new { htmlAttributes = new { @class = "form-control input-sm" } })
                        @Html.ValidationMessageFor(model => model.childBirthdate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="Parents">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-square-o"></i> Ouders </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-right btn-group-xs">
                        <a class="btn btn-default" href="#Parents" onclick="showMe('ctrlFf', 'FatherFather'); hideMe('ctrlFf', 'MotherFather'); hideMe('ctrlFf', 'MotherMother'); enlightenMe('ff')" name="ctrlFf" id="ff">
                            <i class="fa fa-mars-double fa-2x"></i>
                        </a>
                        <a class="btn btn-primary" href="#Parents" onclick="hideMe('ctrlMf', 'FatherFather'); showMe('ctrlMf', 'MotherFather'); hideMe('ctrlMf', 'MotherMother'); enlightenMe('mf')" name="ctrlMf" id="mf">
                            <i class="fa fa-venus-mars fa-2x"></i>
                        </a>
                        <a class="btn btn-default" href="#Parents" onclick="hideMe('ctrlMm', 'FatherFather'); hideMe('ctrlMm', 'MotherFather'); showMe('ctrlMm', 'MotherMother'); enlightenMe('mm')" name="ctrlMm" id="mm">
                            <i class="fa fa-venus-double fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div id="FatherFather" style="display: none">
                    <div class="col-md-6">
                        <div class="page-header">
                            <h4 class="text-left" >Vader</h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="page-header">
                            <h4 class="text-left">Vader</h4>
                        </div>
                    </div>
                </div>
                <div id="MotherFather">
                    <div class="col-md-6">
                        <div class="page-header">
                            <h4 class="text-left">Moeder</h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="page-header">
                            <h4 class="text-left">Vader</h4>
                        </div>
                    </div>
                </div>
                <div id="MotherMother" style="display: none">
                    <div class="col-md-6">
                        <div class="page-header">
                            <h4 class="text-left">Moeder</h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="page-header">
                            <h4 class="text-left">Moeder</h4>
                        </div>
                    </div>
                </div>

                    <div class="col-md-6">
                            @Html.LabelFor(model => model.firstParentFirstname, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.firstParentFirstname, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.firstParentFirstname, "", new { @class = "text-danger" })

                            @Html.LabelFor(model => model.firstParentLastname, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.firstParentLastname, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.firstParentLastname, "", new { @class = "text-danger" })

                            @Html.LabelFor(model => model.firstParentBirthdate, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.firstParentBirthdate, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.firstParentBirthdate, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                            @Html.LabelFor(model => model.secondParentFirstname, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.secondParentFirstname, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.secondParentFirstname, "", new { @class = "text-danger" })

                            @Html.LabelFor(model => model.secondParentLastname, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.secondParentLastname, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.secondParentLastname, "", new { @class = "text-danger" })

                            @Html.LabelFor(model => model.secondParentBirthdate, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.secondParentBirthdate, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.secondParentBirthdate, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Adresgegevens </h4>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isLivingTogether" checked name="ctrlLt" onclick="showMe('ctrlLt', 'LivingTogetherDiv'); toggleLivingTogether()"/> Samenwonend
                        </label>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    @Html.LabelFor(model => model.firstParentStreet, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.firstParentStreet, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.firstParentStreet, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.firstParentHouseNumber, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.firstParentHouseNumber, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.firstParentHouseNumber, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.firstParentHouseBus, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.firstParentHouseBus, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.firstParentHouseBus, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.firstParentPostalCode, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.firstParentPostalCode, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.firstParentPostalCode, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.firstParentCity, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.firstParentCity, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.firstParentCity, "", new { @class = "text-danger" })

                </div>
                <div class="col-md-6" id="LivingTogetherDiv" style="display: none">

                    @Html.LabelFor(model => model.secondParentStreet, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.secondParentStreet, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.secondParentStreet, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.secondParentHouseNumber, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.secondParentHouseNumber, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.secondParentHouseNumber, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.secondParentHouseBus, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.secondParentHouseBus, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.secondParentHouseBus, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.secondParentPostalCode, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.secondParentPostalCode, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.secondParentPostalCode, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.secondParentCity, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.secondParentCity, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.secondParentCity, "", new { @class = "text-danger" })

                </div>
                <div class="col-md-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Contactgegevens </h4>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    @Html.LabelFor(model => model.firstParentPhoneHome, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.firstParentPhoneHome, new { htmlAttributes = new { @class = "form-control input-sm", @onkeyup = "syncTelephoneNumber(this)" } })
                    @Html.ValidationMessageFor(model => model.firstParentPhoneHome, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.firstParentPhoneMobile, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.firstParentPhoneMobile, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.firstParentPhoneMobile, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.firstParentPhoneWork, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.firstParentPhoneWork, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.firstParentPhoneWork, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.firstParentEmailAddress, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.firstParentEmailAddress, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.firstParentEmailAddress, "", new { @class = "text-danger" })
                
                </div>
                <div class="col-md-6">

                    @Html.LabelFor(model => model.secondParentPhoneHome, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.secondParentPhoneHome, new { htmlAttributes = new { @class = "form-control input-sm", @onkeyup = "syncTelephoneNumber(this)" } })
                    @Html.ValidationMessageFor(model => model.secondParentPhoneHome, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.secondParentPhoneMobile, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.secondParentPhoneMobile, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.secondParentPhoneMobile, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.secondParentPhoneWork, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.secondParentPhoneWork, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.secondParentPhoneWork, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.secondParentEmailAddress, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.secondParentEmailAddress, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.secondParentEmailAddress, "", new { @class = "text-danger" })
                
                </div>
                <div class="col-md-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <button class="btn btn-danger btn-lg" type="submit">Volgende stap</button>
                </div>
            </div>
        </div>
    </div>
}